
x64/Debug/vc143.pdb
*.idb
*.obj
x64/Debug/practlinal_lab2.vcxproj.FileListAbsolute.txt
*.tlog
*.vsidx
.vs/practlinal_lab2/v17/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.ilk
*.log
*.pdb
*.recipe
*.user
*.filters
